<app-header></app-header>
<div class="todo-list-page">
  <div class="container">
    <header>
      <div class="title">All ToDo's</div>
      <button class="btn-small btn-green">
        Add a ToDo
        <img src="../../../../assets/img/Vector (1).png" alt="Add button img" />
      </button>
    </header>
    <ul class="todo-list">
      <li class="todo-list-item">
        <label class="custom-checkbox">
          <input type="checkbox" />
          <span class="checkbox"
            ><img src="../../../../assets/img/check.svg" alt="Check"
          /></span>
        </label>
        <div class="todo-list-item-title">
          Schedule a new apartment overview (Details: Sarah, 215 Newarc Drive,
          New Jersey, 202-555-0183)
        </div>
        <div class="todo-list-item-actions">
          <img src="../../../../assets/img/edit-todo.svg" alt="Edit button" />
          <img src="../../../../assets/img/remove-todo.svg" alt="Edit button" />
        </div>
      </li>
    </ul>
  </div>
</div>
