<app-header></app-header>
<div class="todo-list-page">
  <div class="container">
    <header>
      <div class="title">All ToDo's</div>
      <button class="btn-small btn-green" (click)="onAddTodoBtnClick()">
        Add a ToDo
        <img src="../../../../assets/img/Vector (1).png" alt="Add button img" />
      </button>
    </header>
    <ul class="todo-list">
      <li class="todo-list-item" *ngFor="let todo of todos">
        <label class="custom-checkbox" (click)="onCheckboxClick($event, todo)">
          <input type="checkbox" [checked]="todo.completed" />
          <span class="checkbox"
            ><img src="../../../../assets/img/check.svg" alt="Check"
          /></span>
        </label>
        <div class="todo-list-item-title" [class.completed]="todo.completed">
          {{ todo.title }}
        </div>
        <div class="todo-list-item-actions">
          <img
            src="../../../../assets/img/edit-todo.svg"
            alt="Edit button"
            (click)="onUpdateTodoBtnClick(todo)"
          />
          <img
            src="../../../../assets/img/remove-todo.svg"
            alt="Remove button"
            (click)="onRemoveTodoBtnClick(todo)"
          />
        </div>
      </li>
    </ul>
  </div>
</div>
<app-add-todo-modal
  *ngIf="showAddTodoModal"
  (todoCreatedEvent)="onTodoCreated($event)"
></app-add-todo-modal>
<app-remove-todo-modal
  *ngIf="showRemoveTodoModal"
  (todoRemovedEvent)="onTodoRemoved($event)"
  [todo]="activeTodo"
></app-remove-todo-modal>
<app-update-todo-modal
  *ngIf="showUpdateTodoModal"
  (todoUpdatedEvent)="onTodoUpdated($event)"
  [todo]="activeTodo"
></app-update-todo-modal>
