*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

// Forms

.form-group {
  position: relative;
  width: 300px;
  border: none;
  margin-top: 40px;

  label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #686974;
  }
}

.form-control {
  width: 100%;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 8px 14px;
  background: #ffffff;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;

  &.invalid {
    border: 1px solid #e39735;
    background: #fdf7eb;
  }
}

.errors-list {
  position: absolute;
  top: 95%;
}

.errors-item {
  margin-top: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #e59d40;
}

// Buttons

button {
  position: relative;
  cursor: pointer;
}

.btn-large {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 6px;

  img {
    position: absolute;
    top: 50%;
    right: 16.68px;
    transform: translateY(-50%);
  }
}

.btn-green {
  background: linear-gradient(270deg, #1ea39b 0%, #38ef7d 100%);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: all 0.2s;

  &:hover {
    filter: drop-shadow(0px 4px 14px rgba(44, 203, 139, 0.3));
  }
}
