<app-modal [title]="'Edit a ToDo'">
  <textarea
    class="form-control"
    id="title"
    placeholder="Start typing ..."
    [(ngModel)]="title"
  ></textarea>
  <div class="errors-item" *ngIf="showError">This field is required</div>
  <button
    class="btn-large"
    [class.btn-green]="!!title"
    [class.disabled]="!title"
    (click)="onUpdateTodoBtnClick()"
  >
    Save ToDo
    <img
      src="../../../../assets/img/arrow-right.png"
      alt="Update ToDo button"
    />
  </button>
</app-modal>
